p {
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
}

canvas
{
    outline: 0;
    border: 1px solid #000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
/*
    padding: 0;
    margin: auto;
    display: block;
    width: 1024px;
    height: 576px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
*/
}